body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
}
 
 
#container {
     background: #FFF;
     margin: auto auto;
     text-align: center;
     width: 100%;
     height: auto;
     min-height: 100vh;
}
 
#sidebar {
     background: #DCDCDC;
     float: left;
     width: 20%;
}
 
#content {
     background: #DCDCDC;
     float: right;
     width: 80%;
     text-align: justify;
}
 

#footer {
    background: white;
    width: 100%;
    height: 10%;
}


.header {
     background: #F5DE03;
     width: 100%;
     height: 5%;
     text-align: right;
}

.navbar {
     background: #DCDCDC;

}

.custom-btn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}
